/* === IMPORTANDO ESTILOS === */

@import 'boot.css';
@import 'header-and-footer.css';

/* === BANNER === */

#main-home .banner {
	background: 
		linear-gradient(rgb(23,26,29),rgba(23,26,29,0.9)),
		url("../assets/pc.jpg") 
		no-repeat;

	background-size: cover;
	position: relative;
}

#main-home .banner .container .svg-banner {
	position: absolute;
	right: 0;
	z-index: 1;
	opacity: .8;
	width: 50%;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
}

#main-home .banner .container {
	height: calc(100vh - 61px);
}

#main-home .banner .container .banner-txt {
	max-width: 600px;
	z-index: 10;
}

#main-home .banner .container .banner-txt h1 {
	color: white;
	font-size: 30pt;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#main-home .banner .container .banner-txt p {
	color: #fff;
	opacity: 0.9;
	max-width: 500px;
	line-height: 25px;
}

#main-home .banner .container .banner-txt .btn {
	background-color: var(--colorError);
	border-color: transparent;
	margin-top: 30px;
	padding: 6px 18px;
}

#main-home .banner .container .banner-txt .btn:hover {
	box-shadow: 0 0 6px 1px rgb(255,98,88,0.7);
}


/* === MAIN | HEADER === */

#main-home .about {
	/*border-bottom: var(--borderOne);*/
	padding-bottom: 40px;
	padding-top: 20px;
	/*height: 30vh;*/
}

#main-home .about .container .about-header p {
	color: var(--colorTwo);
}

#main-home .about .container .about-header {
	border-bottom: 1px dotted rgba(255, 175, 54, 0.7);
}

#main-home .about .container .about-txt {
	max-width: 600px;
	color: var(--white);
	opacity: 0.8;
	margin-top: 10px;
	border-left: 8px solid rgba(255, 175, 54, 0.7);
	padding-left: 10px;
}

#main-home .vantage .container {
	padding-bottom: 20px;
}

#main-home .vantage .container .vantage-header {
	border-bottom: 1px dotted rgba(0,202,146,0.7);
}

#main-home .vantage .container .vantage-header h1,
#main-home .vantage .container .vantage-header p
 {
	color: var(--colorOk);
}

#main-home .vantage .container .vantage-txt ul li {
	color: white;
	opacity: 0.8;
}

#main-home .vantage .container .vantage-txt ul li::before {
	content: '';
	width: 8px;
	height: 8px;
	display: inline-block;
	vertical-align: middle;
	background-color: var(--colorOk);
	margin-right: 10px;
}