#main-task #btn-add-task {
	width: 40px;
	height: 40px;
	background-color: var(--colorOk);
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 10%;
	cursor: pointer;
}

#main-task #btn-add-task .container {
	display: flex;
	align-items: center;
	justify-content: center;
	/*line-height: auto;*/
}

#task-container {
	border-left: var(--borderOne);
	width: 100%;
}

#task-container .task-list {
	padding: 10px 0;
}

#task-container .task-list .task-item .number-name .task-number {
	background-color: var(--colorOne);
	color: white;
	width: 30px;
	height: 30px;
	display: grid;
	place-items: center;
	border-radius: 50%;
	position: relative;
	right: 16px;
	border: var(--borderOne);
	box-shadow: 0px 0px 0px 3px  var(--colorOne);
}

#task-container .task-list .task-item .number-name .task-name {
	text-transform: uppercase;
	color: white;
}


#task-container .task-list .task-item .task-info {
	margin-left: 34px;
	line-height: 22px;
	padding-left: 5px;
	border-left: 4px solid rgba(255, 255, 255, 1.0);
	color: rgba(255, 255, 255, 0.5);
}

#task-aside-add {
	width: 500px;
	/*background-color: red;*/
	height: 100vh;
	border-left: var(--borderOne);
}

#task-aside-add .box-input {
	width: 250px;
	height: 40px;
	position: relative;
	margin-top: 30px;
	margin-left: 30px;
}

#task-aside-add .box-input label {
	color: rgba(255,255,255, 0.3);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	transition: 0.3s all;
	z-index: -1;
	text-transform: uppercase;
	font-size: 12px;
}

#task-aside-add .box-input .input{
	background-color: transparent;
	border: var(--borderOne);
	border-radius: 4px;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	outline: none;
	color: rgba(255,255,255, 0.5);
}

#task-aside-add .box-input .input:focus ~ label, 
#task-aside-add .box-input .input:valid ~ label
{
	color: rgba(255,255,255, 0.3);
	position: absolute;
	top: -5px;
	transform: translateY(0);
	left: 8px;
	background-color: var(--colorOne);
	padding: 0 4px;
	font-size: 12px;
	
	z-index: 1;
}

#task-aside-add select {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.3);
	border: var(--borderOne);
}

#task-aside-add select option {
	background-color: black;
}

#task-aside-add .box-select span {
	color: rgba(255, 255, 255, 0.3);
}

#task-aside-add .box-select {
	display: block;
	margin-top: 40px;
	margin-left: 30px;
}